{% extends "commerce/_layouts/cp" %}

{% set crumbs = [
  { label: 'Commerce'|t('commerce'), url: url('commerce') },
  { label: 'Settings'|t('app'), url: url('commerce/settings') },
  { label: "Emails"|t('commerce'), url: url('commerce/settings/emails') },
] %}

{% set selectedSubnavItem = 'settings' %}

{% set fullPageForm = not readOnly %}



{% if readOnly %}
    {% set contentNotice = readOnlyNotice() %}
{% endif %}

{% import "_includes/forms" as forms %}

{% block content %}

    {% if not readOnly %}
        {{ actionInput('commerce/emails/save') }}
        {{ redirectInput('commerce/settings/emails') }}
    {% endif %}

    {{ hiddenInput('storeId', email.storeId) }}
    {% if email.id %}
        {{ hiddenInput('emailId', email.id) }}
    {% endif %}

    {{ forms.textField({
        first: true,
        label: "Name"|t('commerce'),
        instructions: "What this email will be called in the control panel."|t('commerce'),
        id: 'name',
        name: 'name',
        value: email.name,
        errors: email.getErrors('name'),
        autofocus: true,
        required: true,
        disabled: readOnly,
    }) }}

    {{ forms.autosuggestField({
        label: 'Status Email Address'|t('commerce'),
        instructions: "The email address that order status emails are sent from. Leave blank to use the System Email Address defined in Craft’s General Settings."|t('commerce'),
        id: 'senderAddress',
        name: 'senderAddress',
        placeholder: senderAddressPlaceholder,
        value: email.getSenderAddress(false),
        errors: email.getErrors('senderAddress'),
        suggestEnvVars: true,
        disabled: readOnly,
    }) }}

    {{ forms.autosuggestField({
        label: 'From Name'|t('commerce'),
        instructions: 'The “From” name that will be used when sending order status emails. Leave blank to use the Sender Name defined in Craft’s General Settings.'|t('commerce'),
        id: 'senderName',
        name: 'senderName',
        placeholder: senderNamePlaceholder,
        value: email.getSenderName(false),
        errors: email.getErrors('senderName'),
        suggestEnvVars: true,
        disabled: readOnly,
    }) }}

    {{ forms.textField({
        label: "Email Subject"|t('commerce'),
        instructions: "The subject line of the email. Twig code can be used here."|t('commerce'),
        id: 'subject',
        name: 'subject',
        value: email.subject,
        errors: email.getErrors('subject'),
        required: true,
        disabled: readOnly,
    }) }}

    {{ forms.textField({
        label: "Reply To"|t('commerce'),
        instructions: "The reply to email address. Leave blank for normal reply to of email sender. Twig code can be used here."|t('commerce'),
        id: 'replyTo',
        name: 'replyTo',
        value: email.replyTo,
        errors: email.getErrors('replyTo'),
        disabled: readOnly,
    }) }}

    {% set recipientInput %}
        <div class="flex flex-start{% if readOnly %} disabled{% endif %}">
            <div>
                {{ forms.select({
                    id: 'recipient-type',
                    name: 'recipientType',
                    options: [
                        { label: "Send to the customer"|t('commerce'), value: 'customer' },
                        { label: "Send to custom recipient"|t('commerce'), value: 'custom' }
                    ],
                    value: email.recipientType,
                    toggle: true,
                    targetPrefix: 'to-option-',
                    disabled: readOnly,
                }) }}
            </div>
            <div id="to-option-custom"
                 class="flex-grow{% if email.recipientType != 'custom' %} hidden{% endif %}">
                {{ forms.autosuggestField({
                    id: 'to',
                    name: 'to',
                    value: email.getTo(false),
                    errors: email.getErrors('to'),
                    suggestEnvVars: true,
                    disabled: readOnly,
                }) }}
            </div>
        </div>
    {% endset %}

    {{ forms.field({
        id: 'recipient-type',
        label: 'Recipient'|t('commerce'),
        instructions: 'The recipient of the email. Twig code can be used here.'|t('commerce'),
        errors: email.getErrors('to'),
        required: true,
    }, recipientInput) }}

    {{ forms.autosuggestField({
        label: 'BCC’d Recipient'|t('commerce'),
        instructions: 'Additional recipients that should receive this email. Twig code can be used here.'|t('commerce'),
        id: 'bcc',
        name: 'bcc',
        value: email.getBcc(false),
        errors: email.getErrors('bcc'),
        suggestEnvVars: true,
        disabled: readOnly,
    }) }}

    {{ forms.autosuggestField({
        label: 'CC’d Recipient'|t('commerce'),
        instructions: 'Additional recipients that should receive this email. Twig code can be used here.'|t('commerce'),
        id: 'cc',
        name: 'cc',
        value: email.getCc(false),
        errors: email.getErrors('cc'),
        suggestEnvVars: true,
        disabled: readOnly,
    }) }}

    {{ forms.autoSuggestField({
        label: 'HTML Email Template Path'|t('commerce'),
        instructions: 'The template to be used for HTML emails.'|t('commerce'),
        id: 'templatePath',
        name: 'templatePath',
        value: email.templatePath,
        errors: email.getErrors('templatePath'),
        required: true,
        suggestions: craft.cp.getTemplateSuggestions(),
        disabled: readOnly,
    }) }}

    {{ forms.textField({
        label: 'Plain Text Email Template Path'|t('commerce'),
        instructions: 'The template to be used for plain text emails. Twig code can be used here.'|t('commerce'),
        id: 'plainTextTemplatePath',
        name: 'plainTextTemplatePath',
        value: email.plainTextTemplatePath,
        errors: email.getErrors('plainTextTemplatePath'),
        disabled: readOnly,
    }) }}

    {{ forms.selectField({
        label: 'PDF Attachment'|t('commerce'),
        instructions: 'The PDF to attach to this email.'|t('commerce'),
        id: 'pdfId',
        name: 'pdfId',
        value: email.pdfId,
        options: pdfList,
        disabled: readOnly,
    }) }}

    {{ forms.selectField({
        label: 'Language'|t('commerce'),
        instructions: "The language to be used when email is rendered."|t,
        id: 'language',
        name: 'language',
        options : emailLanguageOptions,
        value : email.language,
        errors: email.getErrors('language') ?? null,
        toggle: true,
        disabled: readOnly,
    }) }}

    {{ forms.lightswitchField({
        label: "Enabled?"|t('commerce'),
        instructions: 'If disabled, this email will not send.'|t('commerce'),
        id: 'enabled',
        name: 'enabled',
        value: 1,
        on: email.enabled,
        errors: email.getErrors('enabled'),
        disabled: readOnly,
    }) }}
{% endblock %}
